- var path = "./";
include ./_include/_head.pug
  title Lorem ipsum of the dolor sit amet
body
  main
    .topMainImg
      .wrap
        .topMainImg__content
          h1.topMainImg__text.wow.fadeInUp
            |Lorem ipsum<br>
            |of the<br>
            |dolor sit amet
          a(href="#intro").topMainImg__button start
    section.topIntro#intro
      .wrap
        h2.topIntro__title.wow.fadeInUp Lorem Ipsum
        .topIntro__content.wow.fadeInUp
          .topIntro__imgBox
            img(src=`${path}img/section-1.png`, alt="").topIntro__img
          .topIntro__description
            p.topIntro__text
              |複素数体であれば、<br>
              |任意のCM-タイプのAは、<br>
              |実際、<br>
              |数体である定義体<br>
              |英語を<br>
              |持っている。
            p.topIntro__text
              |複素数体であれば、<br>
              |任意のCM-タイプのAは、<br>
              |実際、<br>
              |数体である定義体<br>
              |英語を<br>
              |持っている。
            p.topIntro__text
              |可換部分環Lの作用を<br>
              |記述したものである。
            p.topIntro__text
              |可換部分環Lの作用を<br>
              |記述したものである。
            a(href="#").topIntro__button more
    section.topTrain
      .wrap
        .topTrain__content
          .topTrain__box.wow.fadeInLeft
            .topTrain__inner
              img(src=`${path}img/icon-david.png`, alt="").topTrain__img
              h2.topTrain__title train1
              p.topTrain__text Lが固有ベクトルの基底を通して作用することを示すことができる。
          .topTrain__box.wow.fadeInRight
            .topTrain__inner
              img(src=`${path}img/icon-david.png`, alt="").topTrain__img
              h2.topTrain__title train2
              p.topTrain__text Lが固有ベクトルの基底を通して作用することを示すことができる。
    section.topGiovanni
      .wrap
        .topGiovanni__content
          h2.topGiovanni__title.wow.fadeInUp 「イデアル群はS上に入らない素イデアル上の自由」
          p.topGiovanni__text.wow.fadeInUp
            |ヘッケはこれらのL-函数が全複素平面へ有理型接続を持ち、<br class="pc-only">
            |指標が自明であるときには s = 1 でオーダー 1 である極を持ち、<br class="pc-only">
            |それ以外では解析的であることを証明した。<br class="pc-only">
            |原始ヘッケ指標（原始ディリクレ指標に同じ方法であるmodulusに相対的に定義された）に対し、<br class="pc-only">
            |ヘッケは、これらのL-函数が指標の
          p.topGiovanni__text.wow.fadeInUp
            |IS からイデアル類への写像 Π を定義することができる。<br class="pc-only">
            |χ を Π と ψ の合成とすると、χ はイデアル群上の指標としてうまく定義できる。
    section.topSpheres
      .wrap
        .topSpheres__box.wow.fadeInRight
          .topSpheres__description
            p.topSpheres__text L 自体がある複数の体の積というよりも数体であるという単純な場合には、CM-タイプは L の複素埋め込み（英語版）(complex embedding)のリストである。
            p.topSpheres__text 2d 個の複素埋め込みがあり、CM-タイプは各々のペアのから一つを選択する。そのようなCM-タイプの全てが実現されることが知られている。
            .topSpheres__buttonOuter
              a(href="#").topSpheres__button more
          .topSpheres__imgBox
            img(src=`${path}img/earth.png`, alt="")
        .topSpheres__box.topSpheres__box--reverse.wow.fadeInLeft
          .topSpheres__description.topSpheres__description--reverse
            p.topSpheres__text L 自体がある複数の体の積というよりも数体であるという単純な場合には、CM-タイプは L の複素埋め込み（英語版）(complex embedding)のリストである。
            p.topSpheres__text 2d 個の複素埋め込みがあり、CM-タイプは各々のペアのから一つを選択する。そのようなCM-タイプの全てが実現されることが知られている。
            .topSpheres__buttonOuter.topSpheres__buttonOuter--reverse
              a(href="#").topSpheres__button more
          .topSpheres__imgBox.topSpheres__imgBox--reverse
            img(src=`${path}img/moon.png`, alt="")
    section.topSlider
      .wrap
        .swiper-container.wow.fadeInUp
          .swiper-wrapper
            .swiper-slide
              .topSlider__content
                img(src=`${path}img/slide-1.png`, alt="").topSlider__img
                .topSlider__body
                  h2.topSlider__title 可換部分環 L の作用を記述
                  p.topSlider__text 勿論もちろんカムパネルラも知っている、それはいつかカムパネルラのお父さんの博士のうちでカムパネルラといっしょに読んだ雑誌のなかにあったのだ。
            .swiper-slide
              .topSlider__content
                img(src=`${path}img/slide-2.png`, alt="").topSlider__img
                .topSlider__body
                  h2.topSlider__title 可換部分環 L の作用を記述
                  p.topSlider__text ヘッケはこれらのL-函数が全複素平面へ有理型接続を持ち、指標が自明であるときには s = 1 でオーダー 1 である極を持ち、それ以外では解析的であることを証明した。
            .swiper-slide
              .topSlider__content
                img(src=`${path}img/slide-3.png`, alt="").topSlider__img
                .topSlider__body
                  h2.topSlider__title 可換部分環 L の作用を記述
                  p.topSlider__text ヘッケはこれらのL-函数が全複素平面へ有理型接続を持ち、指標が自明であるときには s = 1 でオーダー 1 である極を持ち、それ以外では解析的であることを証明した。
            .swiper-slide
              .topSlider__content
                img(src=`${path}img/slide-1.png`, alt="").topSlider__img
                .topSlider__body
                  h2.topSlider__title 可換部分環 L の作用を記述
                  p.topSlider__text ヘッケはこれらのL-函数が全複素平面へ有理型接続を持ち、指標が自明であるときには s = 1 でオーダー 1 である極を持ち、それ以外では解析的であることを証明した。
            .swiper-slide
              .topSlider__content
                img(src=`${path}img/slide-2.png`, alt="").topSlider__img
                .topSlider__body
                  h2.topSlider__title 可換部分環 L の作用を記述
                  p.topSlider__text ヘッケはこれらのL-函数が全複素平面へ有理型接続を持ち、指標が自明であるときには s = 1 でオーダー 1 である極を持ち、それ以外では解析的であることを証明した。
            .swiper-slide
              .topSlider__content
                img(src=`${path}img/slide-3.png`, alt="").topSlider__img
                .topSlider__body
                  h2.topSlider__title 可換部分環 L の作用を記述
                  p.topSlider__text ヘッケはこれらのL-函数が全複素平面へ有理型接続を持ち、指標が自明であるときには s = 1 でオーダー 1 である極を持ち、それ以外では解析的であることを証明した。
        .swiper-pagination
  include ./_include/_footer.pug
